<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DTL常用的过滤器</title>
</head>
<body>

    <h1 style="color:red">DTL常用的过滤器 </h1>
    <h2>DTL中不能用函数的调用形式`()`, 所以用过滤器解决传参数的问题</h2>
    <hr/>

    <h1>1.过滤器add</h1>
    <p>{{ i1 }} + {{ i2 }} = {{ i1|add:i2 }}</p>
    <p>{{ s1 }} + {{ s2 }} = {{ s1|add:s2 }}</p>
    <p>{{ l1 }} + {{ l2 }} = {{ l1|add:l2 }}</p>

    <h2>2.过滤器cut</h2>
    <p>{{ 'Hel-lo wor-ld!'|cut:'-' }}</p>

    <h2>3.过滤器date: 将一个日期按指定的格式转为字符串</h2>
    <p>生日: {{ birthday|date:'Y-m-d' }}</p>
    <p>时间: {{ birthday|date:'Y-m-d H:i:s' }}</p>


    <h2>4.过滤器default: 判断为False的值都会设置为默认值</h2>
    <ul>
        <li>{{ v1 }}: {{ v1|default:"设置为默认值" }}</li>
        <li>{{ v2 }}: {{ v2|default:"设置为默认值" }}</li>
        <li>{{ v3 }}: {{ v3|default:"设置为默认值" }}</li>
        <li>{{ v4 }}: {{ v4|default:"设置为默认值" }}</li>
        <li>{{ v5 }}: {{ v5|default:"设置为默认值" }}</li>
        <li>{{ v6 }}: {{ v6|default:"设置为默认值" }}</li>
    </ul>

    <h2>5.过滤器default_if_none: 判断为None的值都会设置为默认值</h2>
    <ul>
        <li>{{ v1 }}: {{ v1|default_if_none:"设置为默认值" }}</li>
        <li>{{ v2 }}: {{ v2|default_if_none:"设置为默认值" }}</li>
        <li>{{ v3 }}: {{ v3|default_if_none:"设置为默认值" }}</li>
        <li>{{ v4 }}: {{ v4|default_if_none:"设置为默认值" }}</li>
        <li>{{ v5 }}: {{ v5|default_if_none:"设置为默认值" }}</li>
        <li>{{ v6 }}: {{ v6|default_if_none:"设置为默认值" }}</li>
    </ul>

    <h2>6.过滤器first和last: 返回第1个和最后1个</h2>
    <ul>
        <li>{{ l1 }}: {{ l1|first }}</li>
        <li>{{ s1 }}: {{ s1|first }}</li>
    </ul>

    <h2>7.过滤器floatformat: 四舍五入的格式化, 无参数时最多保留1位小数</h2>
    <ul>
        <li>{{ 1.00 }}: {{ 1.00|floatformat }}</li>
        <li>{{ 1.23 }}: {{ 1.23|floatformat }}</li>
        <li>{{ 1.234567 }}: {{ 1.234567|floatformat:3 }}</li>
    </ul>

    <h2>8.过滤器join: 和python里面的join功能类似</h2>
    <ul>
        <li>{{ l1 }}: {{ l1|join:', ' }}</li>
    </ul>

    <h2>9.过滤器length: 和python里面的len功能类似</h2>
    <ul>
        <li>{{ l1 }}: {{ l1|length }}</li>
    </ul>

    <h2>10.过滤器lower和upper: 大小写转换</h2>
    <ul>
        <li>{{ s1 }}: {{ s1|upper }}</li>
    </ul>

    <h2>11.过滤器random: 从字符串或列表里随机读取</h2>
    <ul>
        <li>{{ s1 }}: {{ s1|random }}</li>
        <li>{{ l1 }}: {{ l1|random }}</li>
    </ul>

    <h2>12.过滤器safe: 表明不需要转义</h2>
    <ul>
        <li>{{ js }}: {{ js|safe }}</li>
    </ul>

    <h2>13.过滤器slice: 和python的切片是一样的</h2>
    <ul>
        <li>{{ arr }}: {{ arr|slice:'3' }}</li>
        <li>{{ arr }}: {{ arr|slice:'1:3' }}</li>
        <li>{{ arr }}: {{ arr|slice:'1::2' }}</li>
    </ul>

    <h2>14.过滤器striptags: 删除html标签</h2>
    <ul>
        <li>{{ js }}: {{ js|striptags }}</li>
    </ul>

    <h2>15.过滤器truncatechars: 切割内容</h2>
    <ul>
        <li>{{ sentence }}: {{ sentence|truncatechars:5 }}</li>
    </ul>

    <h2>16.过滤器truncatechars_html: 切割内容, 不会切割html</h2>
    <ul>
        <li>{{ sentence_html }}: {{ sentence_html|truncatechars_html:5 }}</li>
    </ul>

    <h2>17.自定义过滤器: greet</h2>
    {% load my_filter %}
    <ul>
        <li>{{ "张三" }}: {{ "张三"|greet:", 你好!" }}</li>
    </ul>

    <h2>18.自定义过滤器: time_since</h2>
    <ul>
        <li>{{ my_time|date:'Y-m-d H:i:s' }}: {{ my_time|time_since }}</li>
    </ul>
</body>
</html>