<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DTL的标签</title>
</head>
<body>

    <h1 style="color:red">DTL的标签</h1>
    <hr/>

    <h2>1.标签if</h2>
    age={{ age }}
    {% if age < 18 %}
        <p>你是未成年人!</p>
    {% else %}
        <p>你已经成年了</p>
    {% endif %}

    <h2>2.标签for...in...</h2>
    <p>水果: 正序</p>
    <ol>
    {% for fruit in fruits %}
        <p><li>{{ fruit }}</li></p>
    {% endfor %}
    </ol>

    <p>水果: 逆序
    <ol>
    {% for fruit in fruits reversed%}
        <p><li>{{ fruit }}</li></p>
    {% endfor %}
    </ol>

    <h2>3.标签for...in...empty...</h2>
    {% for student in students %}
        <p>{{ student }}</p>
    {% empty %}
        <p>没有学生</p>
    {% endfor %}

    <h2>4.标签with</h2>
    {% with title='标题是with标签(=用法)'  %}
        <p>{{ title }}</p>
    {% endwith %}

    {% with '标题是with标签(as用法)' as title  %}
        <p>{{ title }}</p>
    {% endwith %}

    <h2>5.标签url: 作用相当于views里的reverse</h2>
    <p><a href="book/list">所有图书</a>
        <a href="{% url 'book_all' %}">所有图书</a></p>

    <p><a href="book/3">图书3</a>
    <a href="{% url 'book_detail' id='3' %}">图书3</a></p>

    <h2>6.标签spaceless: 移除html标签中的空白字符, 如空格, tab, 换行</h2>
    {% spaceless %}
        <p>
            你  好!
        </p>
    {% endspaceless %}

    <h2>7.标签autoescape: 自动转义, 默认是开启, 可以关闭</h2>
    <p>{{ link }}</p>

    {% autoescape off %}
        {{ link }}
    {% endautoescape %}

    <h2>8.标签verbatim: 显示原生内容, 不解析</h2>
    {% verbatim %}
        {{ link }}
    {% endverbatim %}
</body>
</html>