<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <h1 style="color:red">模板访问list或tuple或对象只能用.的方式, 不可以用下标方括号的形式</h1>
    <hr/>
    <h1>普通变量: name = {{ name }}</h1>
    <h1>数组变量: names.1 = {{ names.1 }}</h1>
    <h1>对象变量: person.name = {{ person.name }}</h1>
</body>
</html>